# MacOS
.DS_Store

# IDE
**/.rust-analyzer/
**/.target-vscode/
**/.vscode/
**/target/

# Autotools artefacts
**/aclocal.m4
**/autom4te.cache/
**/config.log
**/config.status
**/configure~

# Dev-tools artefacts
**/.artefacts
**/.dl
**/.output

# Pytest artefacts
**/.pytest_cache

# Python
**/__pycache__/
**/.venv/
**/*.py[cod]
**/*$py.class

# Jinja2
templates/make/common/defaults.j2

# Toolchain
toolchain/**/defaults.mk
