# MacOS
.DS_Store

# IDE
.vscode/

# Autotools artefacts
**/config_h.rs
aclocal.m4
autom4te.cache/
config.log
config.status
configure~

# Dev-tools artefacts
.artefacts/

.output/

# Pytest artefacts
.pytest_cache

# Python
.venv/
__pycache__/
*.py[cod]
*$py.class
