PUBLISH ?= {{ PUBLISH | default('', true) }}

{% set p = [] -%}
{% if PUBLISH -%}
{% for item in PUBLISH.split(' ') -%}
{% do p.append("{}".format(item)) -%}
{% endfor -%}
{% endif %}

{% if p -%}
PUBLISH_OPT ?= \
    --publish {{ p|join(' \\\n    --publish ') }}
{% endif %}
