{#- DIRS #}
{% raw %}{% set OUTDIR = '{% endraw %}{{ d['OUTDIR'] }}{% raw %}' %}{% endraw %}
{% raw %}{% set SELFDIR = '{% endraw %}{{ d['SELFDIR'] }}{% raw %}' %}{% endraw %}
{% raw %}{% set INSTALL_DIR = '{% endraw %}{{ d['INSTALL_DIR'] }}{% raw %}' %}{% endraw %}

{#- DOCKER #}
{% raw %}{% set DOCKER_ALPINE_IMAGE = '{% endraw %}{{ d['DOCKER_ALPINE_IMAGE'] }}{% raw %}' %}{% endraw %}
{% raw %}{% set DOCKER_DAEMONIZE = '{% endraw %}{{ d['DOCKER_DAEMONIZE'] }}{% raw %}' %}{% endraw %}
{% raw %}{% set DOCKER_NETWORK_DRIVER = '{% endraw %}{{ d['DOCKER_NETWORK_DRIVER'] }}{% raw %}' %}{% endraw %}
{% raw %}{% set DOCKER_NETWORK_NAME = '{% endraw %}{{ d['DOCKER_NETWORK_NAME'] }}{% raw %}' %}{% endraw %}
{% raw %}{% set DOCKER_NETWORK_SUBNET = '{% endraw %}{{ d['DOCKER_NETWORK_SUBNET'] }}{% raw %}' %}{% endraw %}
{% raw %}{% set DOCKER_PG_IMAGE = '{% endraw %}{{ d['DOCKER_PG_IMAGE'] }}{% raw %}' %}{% endraw %}
{% raw %}{% set DOCKER_REDIS_IMAGE = '{% endraw %}{{ d['DOCKER_REDIS_IMAGE'] }}{% raw %}' %}{% endraw %}
{% raw %}{% set DOCKER_RUST_TARGET_ARCH = '{% endraw %}{{ d['DOCKER_RUST_TARGET_ARCH'] }}{% raw %}' %}{% endraw %}
{% raw %}{% set DOCKER_RUST_VERSION = '{% endraw %}{{ d['DOCKER_RUST_VERSION'] }}{% raw %}' %}{% endraw %}

{#- ERRORS #}
{% raw %}{% set EXIT_IF_CREATE_EXISTED_DB = '{% endraw %}{{ d['EXIT_IF_CREATE_EXISTED_DB'] }}{% raw %}' %}{% endraw %}
{% raw %}{% set EXIT_IF_CREATE_EXISTED_USER = '{% endraw %}{{ d['EXIT_IF_CREATE_EXISTED_USER'] }}{% raw %}' %}{% endraw %}

{#- HOST -#}
{% raw %}{% set LOCALHOST = '{% endraw %}{{ d['LOCALHOST'] }}{% raw %}' %}{% endraw %}

{#- LOCALE #}
{% raw %}{% set LOCALE_LANG = '{% endraw %}{{ d['LOCALE_LANG'] }}{% raw %}' %}{% endraw %}
{% raw %}{% set LOCALE_LC_ALL = '{% endraw %}{{ d['LOCALE_LC_ALL'] }}{% raw %}' %}{% endraw %}
{% raw %}{% set LOCALE_LC_CTYPE = '{% endraw %}{{ d['LOCALE_LC_CTYPE'] }}{% raw %}' %}{% endraw %}

{#-  #}
{% raw %}{% set MODE = '{% endraw %}{{ d['MODE'] }}{% raw %}' %}{% endraw %}
{% raw %}{% set OS = '{% endraw %}{{ d['OS'] }}{% raw %}' %}{% endraw %}

{#- POSTGRESQL #}
{% raw %}{% set PG_ADMIN = '{% endraw %}{{ d['PG_ADMIN'] }}{% raw %}' %}{% endraw %}
{% raw %}{% set PG_ADMIN_DB = '{% endraw %}{{ d['PG_ADMIN_DB'] }}{% raw %}' %}{% endraw %}
{% raw %}{% set PG_ADMIN_PASSWORD = '{% endraw %}{{ d['PG_ADMIN_PASSWORD'] }}{% raw %}' %}{% endraw %}
{% raw %}{% set PG_CONFIG = '{% endraw %}{{ d['PG_CONFIG'] }}{% raw %}' %}{% endraw %}
{% raw %}{% set PG_HOST = '{% endraw %}{{ d['PG_HOST'] }}{% raw %}' %}{% endraw %}
{% raw %}{% set PG_PORT = '{% endraw %}{{ d['PG_PORT'] }}{% raw %}' %}{% endraw %}
{% raw %}{% set PG_DATABASE_URL = '{% endraw %}{{ d['PG_DATABASE_URL'] }}{% raw %}' %}{% endraw %}

{#- REDIS #}
{% raw %}{% set REDIS_ADMIN = '{% endraw %}{{ d['REDIS_ADMIN'] }}{% raw %}' %}{% endraw %}
{% raw %}{% set REDIS_ADMIN_DB = '{% endraw %}{{ d['REDIS_ADMIN_DB'] }}{% raw %}' %}{% endraw %}
{% raw %}{% set REDIS_ADMIN_PASSWORD = '{% endraw %}{{ d['REDIS_ADMIN_PASSWORD'] }}{% raw %}' %}{% endraw %}
{% raw %}{% set REDIS_HOST = '{% endraw %}{{ d['LOCALHOST'] }}{% raw %}' %}{% endraw %}
{% raw %}{% set REDIS_PORT = '{% endraw %}{{ d['REDIS_PORT'] }}{% raw %}' %}{% endraw %}

{#- RUST #}
{% raw %}{% set RUST_TARGET_ARCH = '{% endraw %}{{ d['RUST_TARGET_ARCH'] }}{% raw %}' %}{% endraw %}
{% raw %}{% set RUST_VERSION = '{% endraw %}{{ d['RUST_VERSION'] }}{% raw %}' %}{% endraw %}
{% raw %}{% set RUSTFLAGS = '{% endraw %}{{ d['RUSTFLAGS'] }}{% raw %}' %}{% endraw %}

{#- OS services #}
{% raw %}{% set SERVICE_CMD_PREFIX = '{% endraw %}{{ d['SERVICE_CMD_PREFIX'] }}{% raw %}' %}{% endraw %}
{% raw %}{% set SERVICE_START_CMD = '{% endraw %}{{ d['SERVICE_START_CMD'] }}{% raw %}' %}{% endraw %}
{% raw %}{% set SERVICE_STOP_CMD = '{% endraw %}{{ d['SERVICE_STOP_CMD'] }}{% raw %}' %}{% endraw %}

{#- OS services credentials #}
{% raw %}{% set SERVICE_DB = '{% endraw %}{{ d['SERVICE_DB'] }}{% raw %}' %}{% endraw %}
{% raw %}{% set SERVICE_PASSWORD = '{% endraw %}{{ d['SERVICE_PASSWORD'] }}{% raw %}' %}{% endraw %}
{% raw %}{% set SERVICE_USER = '{% endraw %}{{ d['SERVICE_USER'] }}{% raw %}' %}{% endraw %}

{#- Common shell commands #}
{% raw %}{% set BASH = '{% endraw %}{{ d['BASH'] }}{% raw %}' %}{% endraw %}
{% raw %}{% set BUILD_VERSION = '{% endraw %}{{ d['BUILD_VERSION'] }}{% raw %}' %}{% endraw %}
{% raw %}{% set CC = '{% endraw %}{{ d['CC'] }}{% raw %}' %}{% endraw %}
{% raw %}{% set CPPFLAGS = '{% endraw %}{{ d['CPPFLAGS'] }}{% raw %}' %}{% endraw %}
{% raw %}{% set CXX = '{% endraw %}{{ d['CXX'] }}{% raw %}' %}{% endraw %}
{% raw %}{% set LDFLAGS = '{% endraw %}{{ d['LDFLAGS'] }}{% raw %}' %}{% endraw %}
{% raw %}{% set OS_CODENAME = '{% endraw %}{{ d['OS_CODENAME'] }}{% raw %}' %}{% endraw %}
{% raw %}{% set PWD = '{% endraw %}{{ d['PWD'] }}{% raw %}' %}{% endraw %}
{% raw %}{% set SH = '{% endraw %}{{ d['SH'] }}{% raw %}' %}{% endraw %}

{#- sudo #}
{% raw %}{% set SUDO_BIN = '{% endraw %}{{ d['SUDO_BIN'] }}{% raw %}' %}{% endraw %}
{% raw %}{% set SUDO_USER = '{% endraw %}{{ d['SUDO_USER'] }}{% raw %}' %}{% endraw %}

{#- toolchain's python #}
{% raw %}{% set PY_MAJOR = '{% endraw %}{{ d['PY_MAJOR'] }}{% raw %}' %}{% endraw %}
{% raw %}{% set PY_MINOR = '{% endraw %}{{ d['PY_MINOR'] }}{% raw %}' %}{% endraw %}
{% raw %}{% set PY_OWNER = '{% endraw %}{{ d['PY_OWNER'] }}{% raw %}' %}{% endraw %}
{% raw %}{% set PY_DIR = '{% endraw %}{{ d['PY_DIR'] }}{% raw %}' %}{% endraw %}
{% raw %}{% set PYTHON = '{% endraw %}{{ d['PYTHON'] }}{% raw %}' %}{% endraw %}

{#- cargo #}
{% raw %}{% set CARGO_TARGET_DIR = '{% endraw %}{{ d['CARGO_TARGET_DIR'] }}{% raw %}' %}{% endraw %}
{% raw %}{% set CARGO_PROFILE = '{% endraw %}{{ d['CARGO_PROFILE'] }}{% raw %}' %}{% endraw %}

{#- clickhouse #}
{% raw %}{% set CH_ADMIN = '{% endraw %}{{ d['CH_ADMIN'] }}{% raw %}' %}{% endraw %}
{% raw %}{% set CH_ADMIN_DB = '{% endraw %}{{ d['CH_ADMIN_DB'] }}{% raw %}' %}{% endraw %}
{% raw %}{% set CH_ADMIN_PASSWORD = '{% endraw %}{{ d['CH_ADMIN_PASSWORD'] }}{% raw %}' %}{% endraw %}
{% raw %}{% set CH_HOST = '{% endraw %}{{ d['CH_HOST'] }}{% raw %}' %}{% endraw %}
{% raw %}{% set CH_PORT = '{% endraw %}{{ d['CH_PORT'] }}{% raw %}' %}{% endraw %}
{% raw %}{% set CH_USER_XML = '{% endraw %}{{ d['CH_USER_XML'] }}{% raw %}' %}{% endraw %}
