{# DIRS #}
{% set OUTDIR = '$(TOPDIR)/.output' %}
{% set SELFDIR = '$(realpath $(dir $(lastword $(MAKEFILE_LIST))))' %}
{% set INSTALL_DIR = '/usr/local/bin' %}

{# DOCKER #}
{% set DOCKER_ALPINE_IMAGE = 'alpine:3.18.3' %}
{% set DOCKER_APPS = 'no' %}
{% set DOCKER_DAEMONIZE = 'yes' %}
{% set DOCKER_NETWORK_DRIVER = 'bridge' %}
{% set DOCKER_NETWORK_NAME = 'dev-tools' %}
{% set DOCKER_NETWORK_SUBNET = '192.168.100.0/24' %}
{% set DOCKER_PG_IMAGE = 'postgres:12.15-alpine3.18' %}
{% set DOCKER_REDIS_IMAGE = 'redis:7.2.0-alpine3.18' %}
{% set DOCKER_RUST_TARGET_ARCH = 'aarch64-unknown-linux-musl' %}
{% set DOCKER_RUST_VERSION = RUST_VERSION %}
{% set DOCKER_SERVICES = 'no' %}

{# ERRORS #}
{% set EXIT_IF_CREATE_EXISTED_DB = 'no' %}
{% set EXIT_IF_CREATE_EXISTED_USER = 'no' %}

{# HOST #}
{% set HOST_APPS = 'yes' %}
{% set HOST_SERVICES = 'yes' %}
{% set LOCALHOST = 'localhost' %}

{# LOCALE #}
{% set LOCALE_LANG = 'en_US.UTF-8' %}
{% set LOCALE_LC_ALL = 'en_US.UTF-8' %}
{% set LOCALE_LC_CTYPE = 'en_US.UTF-8' %}

{#  #}
{% set MODE = 'host' %}
{% set OS = 'ubuntu' %}

{# #}
{% set FIXTURES_DIR = 'migrations/fixtures' %}
{% set SCHEMAS_DIR = 'migrations/schemas' %}

{# POSTGRESQL #}
{% set PG_ADMIN = 'postgres' %}
{% set PG_ADMIN_DB = 'postgres' %}
{% set PG_ADMIN_PASSWORD = 'postgres' %}
{% set PG_CONFIG = '$(shell which pg_config)' %}
{% set PG_HOST = LOCALHOST %}
{% set PG_PORT = '5432' %}
{% set PG_DATABASE_URL = 'postgres://{{ SERVICE_USER }}:{{ SERVICE_PASSWORD }}@${{ PG_HOST }}:{{ PG_PORT }}/{{ SERVICE_DB }}' %}

{# REDIS #}
{% set REDIS_ADMIN = 'default' %}
{% set REDIS_ADMIN_DB = '0' %}
{% set REDIS_ADMIN_PASSWORD = ''%}
{% set REDIS_HOST = LOCALHOST %}
{% set REDIS_PORT = '6379' %}

{# RUST #}
{% set RUST_TARGET_ARCH = 'aarch64-apple-darwin' %}
{% set RUST_VERSION = '1.71.1' %}
{% set RUSTFLAGS = '-C target-feature=-crt-static' %}

{# OS services #}
{% set SERVICE_CMD_PREFIX = 'brew services' %}
{% set SERVICE_START_CMD = '{{ SERVICE_CMD_PREFIX }} start' %}
{% set SERVICE_STOP_CMD = '{{ SERVICE_CMD_PREFIX }} stop' %}

{# OS services credentials #}
{% set SERVICE_DB = 'fizzbuzz' %}
{% set SERVICE_PASSWORD = '12345' %}
{% set SERVICE_USER = 'foobar' %}

{# Common shell commands #}
{% set BASH = '$(shell which bash)' %}
{% set BUILD_VERSION = '$(shell git log -1 --format="%h")' %}
{% set CC = '$(shell echo $${CC})' %}
{% set CPPFLAGS = '$(shell echo $${CPPFLAGS})' %}
{% set CXX = '$(shell echo $${CXX})' %}
{% set LDFLAGS = '$(shell echo $${LDFLAGS})' %}
{% set OS_CODENAME = '$(shell lsb_release -cs)' %}
{% set PWD = '$(shell pwd)' %}
{% set SH = '$(shell which sh)' %}

{# sudo #}
{% set SUDO_BIN = '$(shell which sudo)' %}
{% set SUDO_USER = '' %}

{# toolchain's python #}
{% set PY_MAJOR = '3.11' %}
{% set PY_MINOR = '4' %}
{% set PY_OWNER = '$(USER)' %}
{% set PY_DIR = "$(shell echo ~/.py/{PY_MAJOR}.{PY_MAJOR})" %}
{% set PYTHON = "{PY_DIR}/bin/python" %}
